
.aboutme-two-column-wrapper {
  display: grid;
  grid-template-columns:  1fr 1fr;
}

.my-intro{
padding-top: 30px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;

}

.my-intro> p > h1 {
color: ;

}
.my-intro-icon{
display: grid;
grid-template-columns:1fr 1fr 1fr 1fr ;
padding-right: 10px;
padding-bottom: 5px;
padding-left: 10px;
}


.my-intro >.my-intro-icon> .contact-link > a > div{
vertical-align: middle;
}


.my-intro >.my-intro-icon> .contact-link > a > img {
  width:30px
}
.my-intro >.my-intro-icon> .contact-link{
  padding: 2px 0;
}

.my-intro >.my-intro-icon> .contact-link :link {
  color: #20b2aa;
  background-color: transparent;
  text-decoration: none;

}

.my-intro >.my-intro-icon> .contact-link :visited {
  color: #006699;
  background-color: transparent;
  text-decoration: none;
}

.my-intro >.my-intro-icon> .contact-link :hover {
  color: #b3e6c9;
  background-color: transparent;
}

.my-intro >.my-intro-icon> .contact-link :active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
